5 aug 2024
if elif ladder

In [1]:



a = 14
b = 22
c = 55
if a > b and a > c :
     print("A is the grestest")
elif b > a and b > c :
     print("B is the greatest")
else :
     print("C is the greatest")

C is the greatest

In [1]:
marks = int(input("entr the marks:"))
if marks >= 90:
    grade = "A"
elif marks >= 75:
    grade = "B"
elif marks >= 60:
    grade = "C"
elif marks >= 50:
    grade = "D" 
else:
    grade = "F"
print(f"students marks = {marks}")
print(f"students grade = {grade}")

students marks = 70
students grade = C

# match case

In [3]:
ans = input("what is the capital of india?")
match ans:
    case 'Lucknow':
        print("you are too stupid")
    case 'Delhi':
        print("you are correct")
    case 'culcutta':
        print("you must be under the stone")
    case 'shimla':
        print("this is free india")
    case _:
        print("you are not from india")

you are correct

In [4]:
print("chai ki dukaan")
print("1. chai 10 ruppes")
print("2. bun makkhan 30 rs")
print("3. cutting 5 rs")
print("4. samosa 10 rs")
choice = int(input("enter your choice:"))
match choice:
    case 1:
        print("you have selected chai")
    case 2:
        print("you have selected bun makkhan")
    case 3:
        print("you have selected cutting")
    case 4: 
        print("you have selected samosa")
    case _:
        print("chal nikal")

chai ki dukaan
1. chai 10 ruppes
2. bun makkhan 30 rs
3. cutting 5 rs
4. samosa 10 rs
you have selected samosa

##loops
 - step based loops (for loop)
 - condition based loops (while loops)

 for loop syntax
 ```python
 for varname in iterable
     statement 1
     statement 2
    ...
     statement n

     while expression:
        statement 1
        statement 2
        ...
        statement n

In [4]:
numbers=[11,22,33,44,55,66]
for i in numbers:
    print(i)

11
22
33
44
55
66

In [5]:
brands=['sony','apple','lenovo','samsung']
for name in brands:
    print(name)

sony
apple
lenovo
samsung

iterable
- list
- str
- tuple
- set
- dict
- range
- genrators

In [6]:
word = "journey"
for ch in word:
    print(ch)

j
o
u
r
n
e
y

In [8]:
for i in {122,22,55,87,66}:
    print(i, end=',')

66,55,22,87,122,

```python
# range function for the for loop

In [9]:
for i in range(5, 11):
    print(i, end=",")

5,6,7,8,9,10,

In [10]:
for i in range(5, 15, 2):
    print(i, end=",")

5,7,9,11,13,

In [11]:
for i in range(-5, 6, +1):
    print(i, end=",")

-5,-4,-3,-2,-1,0,1,2,3,4,5,

In [12]:
# reverse loop
for i in range(5, 15, 2):
    print(i, end=",")

5,7,9,11,13,

In [16]:
# sum of all numbers from 1 - 100
total=0
for i in range(1, 101):
    total=total+i
print(total)

5050

In [17]:
# alternative for above code
# type casting range to list
sum(list(range(1,101)))

5050

In [18]:
# find the largest word in the list
word = 'ben'
words = ['ben','jake','paul','jackson','sam']
for item in words:
    if len(item) > len(word):
        word = item
print(word)

jackson

#brake and continue

In [19]:
for i  in range(10):
    if i == 5:
        break
    print(i, end=',')
print("the end")

0,1,2,3,4,the end

In [22]:
data = [1,2,3,4,5,0,7,8,9]
for i in data:
    if i == 0:
        print("we found some crap")
        break #stop the loop
    print(i)

1
2
3
4
5
we found some crap

In [23]:
data = [1,2,3,4,5,0,7,8,9]
for i in data:
    if i == 0:
        continue # skip to next item
    print(i**2)

1
4
9
16
25
49
64
81

```python
enumerate() , zip()

In [25]:
fruits = ['apple','banana','mango','orange','kiwi']
for idx,name in enumerate(fruits): #enumerate function gives 2 values one is the index number and the second one is data
    print(idx, name)

0 apple
1 banana
2 mango
3 orange
4 kiwi

In [26]:
numbers = [23,56,67,12,56]
for idx, num in enumerate(numbers):
    print(num*idx)

0
56
134
36
224

In [27]:
x = [1,2,3,4,5]
y = [11,22,33,44,55]
for i, j in zip(x, y):
    print(i + j)

12
24
36
48
60

In [28]:
x = [1,2,3]
y = [4,5,6]
z = [7,8,9,10]
w = 'jello'
for i, j, k, l in zip(x, y, z, w):
    print(i + j + k , l)

12 j
15 e
18 l

In [29]:
# count the number of vowels in a sentence
sentence = 'this is a very good day'
count=0
for char in sentence:
    if char == 'a' or char == 'e' or char == 'o' or char == 'i' or char == 'u':
        count+=1
print(count)

7