# data structure
- indexed
- ordered
- `immutable`
- heterogenous
- duplicates are allowed
- represented using `( )`
- tuple() for creating tuple

In [1]:
a = (1,2,3,4)
b = (1,)   # single element tuple
c = ('a','b','c','d')  # tuple of strings
d = 1,2,3,4,5,6  # packing
print(type(a), type(b))
print(type(c), type(d))
print(type(a), type(b))

<class 'tuple'> <class 'tuple'>
<class 'tuple'> <class 'tuple'>
<class 'tuple'> <class 'tuple'>

In [3]:
# traversing a tuple
for i in a:
    print(i)

1
2
3
4

In [4]:
# indexing
print(a[0])  # 1st element
print(a[-1])  # last element
print(a[2])  # 3rd  element

1
4
3

In [5]:
# slicing
print(a[1:3]) # 2nd to 3 rd element
print(a[::-1]) # reverse

(2, 3)
(4, 3, 2, 1)

# methods in tuple
- count()
- index()

In [8]:
a = 1,1,1,1,1,1,1,2,2,2,2,2,2,2,34,343,43,4343434,34,34343,43,43,4
print(a.count(1))
print(a.count(2))
print(a.index(2))
print(a.index(343))
print(a.index(1))

7
7
7
15
0

# tuple unpacking

In [12]:
x = (1,2,3,4)
a ,b ,c ,d = x
print(a,b,c,d)

i, *j = x
print(i, j)

*i, j = x
print(i, j)

i, j, *k = x
print(i, j, k)

1 2 3 4
1 [2, 3, 4]
[1, 2, 3] 4
1 2 [3, 4]

In [15]:
x = (1,2,3,4)
x2 = (i**2 for i  in x)
print(tuple(x2))

(1, 4, 9, 16)